body {
  margin: 0;
  padding: 30px 30px 30px 30px;
  font-family: sans-serif;
}
.navbar {
  margin-bottom: 30px;
  margin-top: 0px;
}

.clickable {
  cursor: pointer;
}

#btn_newMovie {
  margin-bottom: 20px;
}
